name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Generate Snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: Dinesh-luffy
          outputs: dist/github-contribution-grid-snake.svg

      - name: Upload to GitHub
        uses: EndBug/add-and-commit@v7
        with:
          message: "Generate contribution snake"
          add: "dist/github-contribution-grid-snake.svg"
